@import '../../variables';

$slider-size: 20px;
$slider-padding: 4px;
$slider-transition: 0.4s;

.switchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 40px;
  width: fit-content;

  .switch {
    position: relative;
    display: inline-block;
    width: calc(#{$slider-size} * 2 + #{$slider-padding} * 2);
    height: calc(#{$slider-size} + #{$slider-padding} * 2);
    margin-right: 15px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: $green;
      }
      &:checked + .slider:before {
        transform: translateX(#{$slider-size});
      }
      &:focus + .slider {
        box-shadow: 0 0 1px $green;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $gray;
      transition: $slider-transition;

      &:before {
        position: absolute;
        content: '';
        height: $slider-size;
        width: $slider-size;
        left: $slider-padding;
        bottom: $slider-padding;
        background-color: white;
        transition: $slider-transition;
      }
      &:hover {
        background-color: $green;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .switchContainer {
    margin-left: auto;
    margin-right: auto;
  }
}
