@import '../variables';

.section {
  max-width: 100%;
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  .tableContainer {
    width: 100%;
    overflow: auto;

    table {
      text-align: left;
      border-spacing: 0;
      thead {
        font-size: $heading-font-size;
      }
      th,
      td {
        padding: 10px 40px 10px 10px;
        border-bottom: 1px solid $gray;
        &:last-child {
          padding-right: 10px;
        }
        &.points {
          padding-left: 10px;
        }
        &.medal {
          padding-right: 0;
        }
        &.alignCenter {
          text-align: center;
        }
        &.small {
          font-size: $default-font-size;
        }
      }
      th {
        white-space: nowrap;
      }
    }
  }

  .flex {
    display: flex;
    align-items: center;
  }
  .avatar {
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .icon {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    display: block;
    border: 1px solid black;
    margin-right: 15px;
    box-sizing: border-box;
  }

  &.leaderboard {
    font-size: $heading-font-size;
  }
  &.challenges {
    tbody tr {
      &:hover:not(.completed) {
        background-color: $table-highlight;
        transition: ease 0.25s;
        font-weight: bold;
      }
      &.completed {
        color: $gray;
        .icon {
          filter: brightness(0.4);
        }
      }

      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .leaderboard,
  table thead,
  table td.small {
    font-size: $default-font-size;
  }
}
@media screen and (max-width: $breakpoint-sm) {
  .section:not(:last-child) {
    margin-bottom: 40px;
  }
  .leaderboard,
  table thead,
  table td.small {
    font-size: 1rem;
  }
}
