@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap");

.app {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.25rem;
  padding: 40px 40px 60px 40px;

  h1,
  h2 {
    font-family: "Press Start 2P", monospace;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;

    .logo {
      width: 160px;
      margin-bottom: 10px;
    }
  }

  .twoColumn {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
  }

  table {
    text-align: left;
    border-spacing: 0;
    th,
    td {
      padding: 10px 50px 10px 10px;
      border-bottom: 1px solid black;
      &:last-child {
        padding-right: 10px;
      }
    }
    th {
      white-space: nowrap;
    }
    tbody tr:hover:not(.completed) {
      background-color: #fff8ab;
      transition: ease 0.25s;
      font-weight: bold;
    }
    .alignCenter {
      text-align: center;
    }
  }

  .leaderboard {
    margin-right: 60px;
    .playerName {
      display: flex;
      align-items: center;
    }
    .avatar {
      height: 40px;
      border-radius: 100%;
      margin-right: 20px;
    }
    .points {
      padding-right: 10px;
    }
    .medal {
      padding-left: 0;
    }
  }

  .challenges {
    .completed {
      color: gray;
    }
  }

  .countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 1.75rem;
    text-align: center;

    .timeItem {
      margin-right: 40px;

      .time {
        font-weight: bold;
        font-size: 2.25rem;
        color: crimson;
        font-family: "Press Start 2P", monospace;
        margin-bottom: 10px;
      }
    }
    .gameOver {
      color: crimson;
    }
  }
}
