@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap");

body {
  margin: 0;
}
.app {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.25rem;
  padding: 40px 40px 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2 {
    font-family: "Press Start 2P", monospace;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;

    .logo {
      width: 160px;
      margin-bottom: 10px;
    }
  }

  .twoColumn,
  .countdown {
    margin-bottom: 60px;
  }

  .twoColumn {
    display: flex;
  }

  .tableContainer {
    width: 100%;
    overflow: auto;
  }

  table {
    text-align: left;
    border-spacing: 0;
    th,
    td {
      padding: 10px 50px 10px 10px;
      border-bottom: 1px solid black;
      &:last-child {
        padding-right: 10px;
      }
    }
    th {
      white-space: nowrap;
    }
    tbody tr:hover:not(.completed) {
      background-color: #fff8ab;
      transition: ease 0.25s;
      font-weight: bold;
    }
    .alignCenter {
      text-align: center;
    }
    .completed {
      color: gray;
    }
  }

  .leaderboard {
    margin-right: 60px;
    .playerName {
      display: flex;
      align-items: center;
    }
    .avatar {
      height: 40px;
      border-radius: 100%;
      margin-right: 20px;
    }
    .points {
      padding-right: 10px;
    }
    .medal {
      padding-left: 0;
    }
  }

  .countdown {
    display: flex;
    font-size: 1.75rem;
    text-align: center;

    .timeItem {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
    .time {
      font-weight: bold;
      font-size: 2.25rem;
      color: crimson;
      font-family: "Press Start 2P", monospace;
      margin-bottom: 10px;
    }
    .gameOver {
      color: crimson;
    }
  }
}

@media screen and (max-width: 768px) {
  .app {
    .twoColumn {
      flex-direction: column;
      justify-content: center;
    }
    .leaderboard {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media screen and (max-width: 576px) {
  .app {
    padding: 20px;
    font-size: 1rem;

    h1 {
      font-size: 2rem;
      line-height: 3rem;
    }
    h2 {
      font-size: 1rem;
    }
    .header .logo {
      width: 130px;
    }
    .twoColumn,
    .countdown,
    .leaderboard {
      margin-bottom: 40px;
    }
    .countdown {
      font-size: 1.25rem;

      .timeItem {
        margin-right: 20px;
      }
      .time {
        font-size: 1.5rem;
      }
    }
  }
}
